[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _OG_SCREWS_TILT_CALCULATE
gcode:
    # ensure we've done a Z_TILT first
    _OG_SCREWS_TILT_CALCULATE

[screws_tilt_adjust]
screw1: 8, 59
screw1_name: Front Left
screw2: 290, 59
screw2_name: Front Right
screw3: 290, 253
screw3_name: Rear Right
screw4: 8, 253
screw4_name: Rear Left
speed: 150
horizontal_move_z: 10
screw_thread: CW-M4
